{% extends 'base.html' %}
{% block title %}ToDo | Home {% endblock title %}
{% block body %}
<div class="imgPut">
    <div class="container my-3">
        <h2>Add a ToDo</h2>
        <form action="/" method="POST">
            <div class="form-group">
                <label for="title">ToDo Title</label>
                <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="desc">ToDo Description</label>
                <input type="text" class="form-control" name="desc" id="desc">
            </div>
            <button type="submit" class="btn btn-dark ">Submit</button>
        </form>
    </div>

    <div class="container my-4">
        <h2>Your ToDos</h2>
        <table class="table">


            <!-- the below returns lenght -->
            {% if allTodo|length==0 %}

            <div class=" alert alert-dark" role="alert">
                No ToDos found!! Add your first TODO now
            </div>

            {% else %}
            <thead>
                <tr>
                    <th scope="col">"#"</th>
                    <th scope="col">title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Time</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for todo in allTodo %}
                <tr>
                    <!-- <th scope="row">{{todo.sno}}</th> -->
                    <!-- -- the above just gave us Sno but below gives continuous sno even if we delete middle number in b/w -->
                    <th scope="row">{{loop.index}}</th>
                    <td>{{todo.title}}</td>
                    <td>{{todo.desc}}</td>
                    <td>{{todo.date_created}}</td>
                    <td>
                        <!-- <a href="/update/{{todo.sno}}"><button type="button" class="btn btn-outline-dark btn-sm mx-1">Update</button></a> -->
                        <a href="/delete/{{todo.sno}}"><button type="button"
                                class="btn btn-outline-dark btn-sm mx-1">Delete</button></a>

                    </td>
                </tr>


                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

<footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3"> Copyright © 2022
        <br>
        <a href="https://github.com/rohanworld" target="_blank"> rohanworld.com</a>
    </div>
</footer>

{% endblock body %}